.gallery__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 64rem) {
    .gallery__wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    
}

@media screen and (max-width: 40rem) {
    .gallery__wrapper {
        grid-template-columns: 1fr;
    }

}